<%- include('header'); -%>
<div>
    <div style="max-width: 500px;">
        <p>
            Hey, happy that you landed here! I am currently working as AVP Technology at Datasigns 
            Technologies Pvt Ltd/Shubhloans.
            I love technology and building stuff with it. I really mean "stuff". Interested in areas 
            like agriculture, science, the tech itself. Trying to use technology as a tool and solve 
            the problems in these areas.
        </p>

        <p>
            Reading is something I am equally connected to. I spend lot of my time reading multiple topics. 
            I like writing too. Checkout my work <a href="/work" class="simple italic">here</a>
        </p>

        <p>
            I often get my hands dirty by working on RPi. Have some experiance there too. 
        </p>

        <h3>Find me here</h3>
        <ul>
            <li>
                Mail
                <a href="mailto: pramodkumar.damam73@gmail.com" class="simple italic" target="blank">
                    pramodkumar.damam73@gmail.com
                </a>
            </li>
            <li>
                Twitter
                <a href="https://twitter.com/pramodk73" class="simple italic" target="blank">
                    pramodk73
                </a>
            </li>
            <li>
                Github - 
                <a href="https://github.com/pskd73" class="simple italic" target="blank">
                    pskd73
                </a>
            </li>
            <li>
                LinkedIn -
                <a href="https://www.linkedin.com/in/pramod-kumar-1a135b74/" class="simple italic" target="blank">
                    Pramod Kumar
                </a>
            </li>
        </ul>

        <br><br/>
        <p>
            Cheers!!
        </p>
    </div>
</div>
<%- include('footer', {activeNav: activeNav}); -%>