<%- include('header'); -%>

<style>
    .work {
        font-size: large;
    }

    .work a {
        font-style: italic;
    }

    .work a:hover {
        text-decoration: underline;
    }
</style>

<div>
    Products
    <ul class="work">
        <li>
            <a href="http://simplsub.com?source=pk" class="simple" target="blank">
                SimplSub - Subscription Management Application (domain expired)
            </a>
        </li>
    </ul>
    Open Source
    <ul class="work">
        <li>
            <a href="https://github.com/pskd73/pydictable" class="simple" target="blank">
                pydictable - A python tool to create objects from dict and to dict
            </a>
        </li>
        <li>
            <a href="https://github.com/pskd73/recli" class="simple" target="blank">
                recli - A reactive (React style) CLI application framework
            </a>
        </li>
    </ul>
    Blog
    <ul class="work">
        <li>
            <a href="https://medium.com/@pramodkumar.damam73/if-hack-later-sucks-98231cb11a4b" class="simple" target="blank">
                "If" hack: later sucks!
            </a>
        </li>
        <li>
            <a href="https://medium.com/@pramodkumar.damam73/dumb-micro-service-the-saviour-9eb403605608" class="simple" target="blank">
                Dumb micro service: The saviour
            </a>
        </li>
        <li>
            <a href="https://medium.com/analytics-vidhya/how-i-built-an-android-app-with-vue-1aa31793bd0" class="simple" target="blank">
                How I built an Android app with Vue
            </a>
        </li>
        <li>
            <a href="https://medium.com/analytics-vidhya/how-i-structure-my-project-b69a2373b2dd" class="simple" target="blank">
                How I structure my project
            </a>
        </li>
        <li>
            <a href="https://medium.com/@pramodkumar.damam73/design-patterns-as-i-used-them-ae4a4bc53eac" class="simple" target="blank">
                Design Patterns as I used them
            </a>
        </li>
        <li>
            <a href="https://pramodkumar-damam73.medium.com/the-art-of-analogy-in-software-development-27a1d8b4c109" class="simple" target="blank">
                The art of Analogy in Software Development
            </a>
        </li>
        <li>
            <a href="https://pramodkumar-damam73.medium.com/exceptions-the-fundamental-feature-of-most-of-the-programming-languages-available-today-e96928dae70a" class="simple" target="blank">
                Exceptions; as I understand them
            </a>
        </li>
        <li>
            <a href="https://medium.com/nerd-for-tech/how-i-built-mvp-in-a-week-adfedc00ad0c" class="simple" target="blank">
                How I built MVP in a week!
            </a>
        </li>
        <li>
            <a href="https://medium.com/nerd-for-tech/why-you-should-do-pair-programming-d5e03084aaf4" class="simple" target="blank">
                Why you should do pair programming?
            </a>
        </li>
        <li>
            <a href="https://medium.com/nerd-for-tech/why-finding-a-niche-is-an-art-840606114a58" class="simple" target="blank">
                Why finding a “niche” is an art!
            </a>
        </li>
    </ul>
    Misc
    <ul class="work">
        <li>
            <a href="https://github.com/pskd73/leetcode" class="simple" target="blank">
                DSA
            </a>
        </li>
    </ul>
</div>

<%- include('footer', {activeNav: activeNav}); -%>